.contact{
    margin-top: 3rem;
    background-color: #FFFFFF;
}

.contact .title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;
        padding-top: 2rem;

}

.contact h1{
    text-align: center;
    font-size: 3rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.contact .title .line{
    margin: auto;
    display: flex;
    column-gap: 15rem;
}

.contact .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin-bottom: 3rem;
}

.contact .left form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact .left form input {
    border: none;
    width: 374px;
    height: 50px;
    background-color: #CEDCFF;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    outline: none;
}

.contact .left form input::placeholder{
    color: black;
}


.contact .left form button{
    border-radius: 1.5rem;
    border: 2px solid var(--primary-color);
    color: black;
    background-color: transparent;
    width: 7rem;
    height: 2.4rem;
    cursor: pointer;
    margin: auto;
    transition: 0.3s;
}

.contact .left form button:hover{
    background-color: var(--primary-color);
    color: white;
    border: 2px solid var(--primary-color);
}

@media screen and (max-width: 374px) {
    .contact .left form input {
        width: 140%; 
        margin-left: -2rem;
    }
}

@media screen and (max-width: 769px) {
    .contact h1{
        font-size: 2.5rem;
    }
    .contact .title .line{
        display: none;
    }
}


.contact .right .email{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.contact .right .email .icon{
    color: var(--primary-color);
}